h1,h2,h3,h4,h5,h6,p,li,ul{
    color: #454ea0;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 50px;
  }
  h3{
    font-size: 40px;
  }
  p{
    font-size: 25px;
  }
  /* SideBar Section */
  .st-emotion-cache-6qob1r {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: #1e66ea;
  }
  
  @media (min-width: 50vh){
  .st-emotion-cache-z5fcl4, .st-emotion-cache-qcqlej, .st-emotion-cache-10pw50{
      padding-left: 5rem;
      padding-right: 5rem;
      background-color: #7fffd4;
   }
  }
  /* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
  /* Style Inputs with type="text", select elements and textareas */
  input[typer=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /*Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=text]:focus, input[typer=message]:focus, input[type=email]:focus, textarea:focus {
    background-color: lightblue;
    color: black;
  }
  
  .st-dh {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  
  img {
    height: 300px;
    width: 100%;
  }
  
  title{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: rgb(4, 71, 255);
  }
  
  /* Hide Streamlit Branding */
  #MainMenu {visibility: visible;}
  footer {visibility: visible;}
  header {visibility: visible;}